dist


# Python
__pycache__/*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info
*.eggs
*.whl
*.coverage
*.mypy_cache
*.pytest_cache
*.tox
*.venv
*.env
*.virtualenv
*.ipynb_checkpoints
*.DS_Store
*.vscode
*.idea
*.coverage.xml
*.hypothesis
*.coverage.*


# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock
.pnpm-debug.log